# IDE  config
/.run/
.idea/

# Build directories
/target/
Cargo.lock
/experiments/.ipynb_checkpoints/
/experiments/*/target/

# Profiling
/experiments/profiling/massif*
/experiments/profiling/xtmemory*

# Virtual environment
/venv/

# Notes
experiments/notes.md
notes.md

# Data
/tests/output/*.json
/tests/output/*.jsonl
